*{
    /* outline: 1px solid red; */
}


/* navbar .......................................................................... */

.navbar-brand {
    color: #fff;
    padding: 0 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 3px;
}

.nav-menu {
    background: transparent;
    padding: 30px;
    position: fixed!important;
    width: 100%;
    z-index: 9999;

    transition: all .4s;
}

@media (max-width:34em) {
    .nav-menu {
        background: #fff !important;
    }
    .topNav{
        padding-left: 0px!important;
        margin-left: -14px!important;
        
    }
}

.nav-item {
    padding: 0 10px;
}

.menu-item {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    color: #000000;
    text-transform: uppercase;
}

@media (max-width: 34em) {
    .menu-item {
        padding: 10px 10px 10px;
    }
}
@media screen and (max-width : 770px) {
    .bgmg{
        padding-top: 8%!important;
        background-position: bottom!important;
    }
  }

.navbar-toggler {
    cursor: pointer;
    outline: 0;
}

.ham {
    transition: width 0.3s;
    background: #5a6c7a;
}

.line1, .line3  {
    width: 28px;
    height: 2px;
    margin: 6px;    
    transition:  0.4s;
    
}

.change .line1 {
    transform: rotate(-45deg) translate(-3px, 2px);
}

.change .line3 {
    transform: rotate(45deg) translate(-3px, -2px);
}

.menu-item:hover {
    color: rgb(219, 82, 82);
}

.nav-active {
    color: rgb(214, 86, 86);
}

.dropdown-item {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}

.costum-navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff !important;  
    position: fixed;
}

.brandName h2{
    color: #314ca4;
    font-weight: 600;
    text-transform: lowercase;
    text-shadow: 0 0rem 3rem #656873;
}
button:focus{
    outline: 0px auto!important;
}

.topNav{
    padding-left: 0px!important;
    margin-left: -14px!important;
    /* background: #ffffff;
    box-shadow: 0 10px 10px -10px rgba(87, 97, 100, 0.35) */
}

/* .brandName h2{
    color: #314ca4;
    font-weight: 600;
}
.pageLink a{
    font-size: 12px;
    font-weight: 600;
} */

/* contactForm----------------------------------------------------------------------- */

/* .boldLine{
  width: 30px;
  height: 3px;
  background: #314ca4;
  margin-bottom: 10px ;
  /* transition: all 0.5s ease; */
/* }  */

.c-Title{
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  /* color: #00b8ca; */
  color: #5a6c7a;
}

.contact-title{
  font-size: 36px;
  font-weight: 700;
}
.mainBox{
    /* box-shadow: 0 0px 15px 10px rgba(0,0,0,.1); */
}

/* body {
    margin: 0;
    padding: 0;
    
  } */
  .mbx{
    /* padding-top: 100px; */
    padding-top: 80px;
    padding-bottom: 20px;
    /* padding-bottom: 100px;  */
  }
  
  #contact {
    width: 100%;
    /* height: 90vh; */
    /* background-color: #111; */
    background-color: #dfe6e7;
    overflow: hidden;
    padding-bottom: 65px;
  }
  
  /* .section-header {
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 50px;
    font: 300 60px 'Oswald', sans-serif;
    letter-spacing: 6px;
    color: #fff;
    margin-bottom: 25px;
  } */
  
  .contact-wrapper {
    margin: 0 auto;
    padding-top: 70px;
    position: relative;
    max-width: 800px;
  }
  
  /* Begin Left Contact Page */
  .form-horizontal {
    float: left;
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .form-control, textarea {
    max-width: 400px;
    background-color: #111;
    /* background-color: #fff; */
    color: #fff;
    letter-spacing: 1px;
  }
  #name, #email, #msg{
    /* background: #111111; */
    background: #fff;
  }
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 370px;
    max-width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .button {
    /* width: 344px; */
    height: 34px;
    transition: all .2s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 300 14px 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  
  .button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
    float: right;
    margin-top: 5px;
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    /* color: #aaa; */
    color: #5a6c7a;
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    /* color: #bbb; */
    color: #5a6c7a;
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    /* color: #bbb; */
    color: #5a6c7a;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
  }
  
  .social-media-list li a {
    color: #fff;
    z-index: 100;
  }
  
  .social-media-list li {
    position: relative; 
    top: 0;
    left: -20px;
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 10px auto;
    line-height: 50px;
    border-radius: 50%;
    color: #fff;
    /* background-color: rgb(27,27,27); */
    background-color: #5a6c7a;
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
/*   
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    line-height: 70px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
   */
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  /* .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  } */
  
  .social-media-list li:hover a {
    /* color: #111; */
    color: #5a6c7a;
  }
  
  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgba(255,255,255,.8); ;
  }
  
  /* Begin Media Queries*/
  @media screen and (max-width: 810px) {
      /* #contact {
          height: 1000px;
      } */
    /* .section-header {
      font-size: 65px;
    } */
    .mainBox {
      /* box-shadow: 0 0px 18px 15px rgba(0,0,0,.1); */
  }
    .direct-contact-container, .form-horizontal {
      float: none;
      margin: 10px auto;
    }  
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
    .social-media-list li {
      position: relative; 
      top: 0;
      left: -20px;
      display: inline-block;
      height: 40px;
      width: 40px;
      margin: 10px auto;
      line-height: 40px;
      border-radius: 50%;
      color: #fff;
      /* background-color: rgb(27,27,27); */
      background-color: #5a6c7a;
      cursor: pointer; 
      transition: all .2s ease-in-out;
    }
  }
  
  @media screen and (max-width: 569px) {
    /* #contact {
      height: 1000px;
      } */
    /* .section-header{
      font-size: 50px;
    } */
    .mbx{
      /* padding-top: 100px; */
      padding-left: 0px!important;
      padding-right: 0px!important;
      /* padding-bottom: 100px;  */
    }

    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      max-width: 340px;
      margin: 0 auto;
    }
    
    .name, .email, textarea, .send-button {
      width: 100%;
    } 
    .direct-contact-container {
      margin-top: 60px;
      max-width: 290px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 50px;
      width: 50px;
      line-height: 50px;
      font-size: 1.5rem;
    }
    .social-media-list li:after {
      width: 50px;
      height: 50px;
      line-height: 50px;
    }
    .social-media-list {
      padding-left: 10%;
      padding-right: 0%;
      position: relative;
      font-size: 0.5rem;
      text-align: center;
      width: 100%;
  }
    .contact-list {
      padding-right: 7px;
    }
    .place {
      margin-left: 62px;
    }
    
    .phone {
      margin-left: 56px;
    }
    
    .gmail {
      margin-left: 18px;
    }
    /* .social-media-list li {
      position: relative; 
      top: 0;
      left: -20px;
      display: inline-block;
      height: 40px;
      width: 40px;
      margin: 10px auto;
      line-height: 40px;
      border-radius: 50%;
      color: #fff;
      background-color: rgb(27,27,27);
      cursor: pointer; 
      transition: all .2s ease-in-out;
    } */
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
  }